@import "colors.css";

/*------------------------------------------*/
/* INTRODUCTION */
/*------------------------------------------*/

#sectionIntroduction {
    margin: 0 100px;
    text-align: left;
    color: var(--teritary_700); 
    font-weight: 300;
    font-size: 26px;
    max-width: 1000px;
}

#introTitle {
  font-weight: 400;
}

@media only screen and (max-width: 480px) {

  #sectionIntroduction {
    margin: 0 28px;
    font-size: 24px;
    text-align: center;
  }
}

/*------------------------------------------*/
/* MAIN HEADER SCREEN */
/*------------------------------------------*/

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(images/main_background.jpg);
  background-image: linear-gradient(var(--black_50), var(--black_70)), url(images/main_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

img.profile_picture {
  height: 150px;
  width: auto;
  border-radius: 75px;
  margin-bottom: 10px;
}

header #frontInfo {
  text-align: center;
  position: absolute;
  font-weight: 400;
  font-size: x-large;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#frontInfoName {
  color: white;
  font-size: 50px;
  font-weight: 200;
}

#frontInfoPosition {
  color: white;
  font-size: 28px;
  font-weight: 300;
}

/*------------------------------------------*/
/* TIMELINE */
/*------------------------------------------*/

.timeLineListContainer li {
    margin: auto;
    list-style: none;
    margin-top: 50px;
    width: 80%;
    max-width: 1000px;
}

.timeLineListContainer li:last-child {
    margin-bottom: 50px;
}

.timelineListItem img {
  width: auto;
  width: 35%;
  border-radius: 0 10px 10px 0;
  margin: auto;
}

.timelineListItem .text {
  margin: 28px;
  font-weight: 300;
  text-align: left;
  font-size: large;
  color: var(--tetriary_900);
}

.timelineItemDate {
  font-size: large;
  font-weight: 400;
}

.timelineItemTitle {
  font-size: xx-large;
  font-weight: 500;
  margin-top: 8px;
}

.timelineItemDescription {
  margin-top: 16px;
  font-size: larger;
  font-weight: 300;
}

@media only screen and (max-width: 1200px) {

  .timelineListItem img {
      border-radius: 10px;
  }
}
@media only screen and (max-width: 480px) {

  .timelineListItem .text {
    margin: 10px;
    text-align: center;
    font-size: medium;
  }

  .timelineItemTitle {
    font-size: x-large;
  }

  .timelineListItem img {
      width: 75%;
      max-width: 75%;
      margin: auto;
      align-self: center;
      text-align: center;
  }

  .aboutMeItemEven img  {
      margin-top: 0px;
  }
  
  .aboutMeItemOdd img {
      margin-bottom: 0px;
  }
}