@import "colors.css";

/*------------------------------------------*/
/* INTRODUCTION */
/*------------------------------------------*/

section #introduction {
    margin: 0 100px;
    text-align: left;
    color: var(--teritary_700); 
    font-weight: 300;
    font-size: 26px;
    max-width: 1000px;
}

/*------------------------------------------*/
/* TIMELINE */
/*------------------------------------------*/

.timeLineListContainer li {
    margin: auto;
    list-style: none;
    font-weight: 300;
    font-size: large;
    margin-top: 50px;
    width: 80%;
    max-width: 1000px;
}

.timeLineListContainer li:last-child {
    margin-bottom: 50px;
}

.timelineListItem:first-child {
    text-align: right;
}

.timelineListItem img {
  width: 30%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  border-radius: 0 10px 10px 0;
}

.timelineListItem .text {
  margin: 28px;
  text-align: left;
  color: var(--tetriary_900);
}

.timelineItemDate {
  font-size: large;
  font-weight: 400;
}

.timelineItemTitle {
  font-size: xx-large;
  font-weight: 500;
  margin-top: 8px;
}

.timelineItemDescription {
  margin-top: 16px;
  font-size: 21px;
  font-weight: 300;
}
