@import "colors.css";

/*------------------------------------------*/
/* INTRODUCTION */
/*------------------------------------------*/

#sectionIntroduction {
    margin: 0 100px;
    text-align: left;
    color: var(--teritary_700); 
    font-weight: 300;
    font-size: 26px;
    max-width: 1000px;
}

#introTitle {
  font-weight: 400;
}

@media only screen and (max-width: 480px) {

  #sectionIntroduction {
    margin: 0 28px;
    font-size: 24px;
    text-align: center;
  }
}

/*------------------------------------------*/
/* TIMELINE */
/*------------------------------------------*/

.timeLineListContainer li {
    margin: auto;
    list-style: none;
    margin-top: 50px;
    width: 80%;
    max-width: 1000px;
}

.timeLineListContainer li:last-child {
    margin-bottom: 50px;
}

.timelineListItem img {
  width: auto;
  width: 35%;
  border-radius: 0 10px 10px 0;
  margin: auto;
}

.timelineListItem .text {
  margin: 28px;
  font-weight: 300;
  text-align: left;
  font-size: large;
  color: var(--tetriary_900);
}

.timelineItemDate {
  font-size: large;
  font-weight: 400;
}

.timelineItemTitle {
  font-size: xx-large;
  font-weight: 500;
  margin-top: 8px;
}

.timelineItemDescription {
  margin-top: 16px;
  font-size: larger;
  font-weight: 300;
}

@media only screen and (max-width: 1200px) {

  .timelineListItem img {
      border-radius: 10px;
  }
}
@media only screen and (max-width: 480px) {

  .timelineListItem .text {
    margin: 10px;
    text-align: center;
    font-size: medium;
  }

  .timelineItemTitle {
    font-size: x-large;
  }

  .timelineListItem img {
      width: 75%;
      max-width: 75%;
      margin: auto;
      align-self: center;
      text-align: center;
  }

  .aboutMeItemEven img  {
      margin-top: 0px;
  }
  
  .aboutMeItemOdd img {
      margin-bottom: 0px;
  }
}