@import "colors.css";

/*------------------------------------------*/
/* INTRODUCTION */
/*------------------------------------------*/

section #introduction {
  margin-left: 100px;
  text-align: left;
  color: var(--teritary_700); 
  font-weight: 300;
  font-size: 26px;
}

/*------------------------------------------*/
/* PORTFOLIO LIST */
/*------------------------------------------*/

.portfolioContainer li {
  margin: auto;
  list-style: none;
  font-weight: 300;
  font-size: large;
  margin-top: 50px;
  width: 80%;
  max-width: 1000px;
}

.portfolioContainer li:last-child {
  margin-bottom: 50px;
}

.portfolioItem {
  padding: 28px;
}

.portfolioItem:first-child {
  text-align: right;
}

.portfolioItem .text {
  text-align: left;
  margin-right: 20px;
  color: var(--tetriary_900);
}

.portfolioItemDate {
  font-size: large;
  font-weight: 400;
}

.portfolioItemTitle {
  font-size: xx-large;
  font-weight: 500;
  margin-top: 8px;
}

.portfolioItemDescription {
  margin-top: 16px;
  font-size: 21px;
  font-weight: 300;
}
  
/* Image list */

#portfolioImageList {
  text-align: center;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#portfolioImageList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#portfolioImageList  {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#portfolioImageList li {
  list-style: none;
  display: inline;  
  z-index: 9999;
}

#portfolioImageList li img {
  list-style: none;
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 25px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 8px;
}

#portfolioImageList li:first-child img {
  margin-left: 8px
}

#portfolioImageList li:last-child img {
  margin-right: 8px;
}


#portfolioImageList li img:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/* Scroll buttons */
.scrollButton {
  align-self: center;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
}

.scrollButton img {
  padding: 6px 10px;
  background-color: transparent;
  border-radius: 25px;
  border: var(--black_10);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.scrollButton img:hover {
  background-color: var(--black_10);
}