#aboutMeContainer {
    color: var(--teritary_900);
}

#aboutMeContainer li {
    margin: auto;
    list-style: none;
    font-weight: 300;
    font-size: large;
    margin-top: 50px;
    width: 80%;
    max-width: 1000px;
}

#aboutMeContainer li:last-child {
    margin-bottom: 50px;
}

.aboutMeItemOdd img,
.aboutMeItemEven img {
    width: auto;
    height: auto;
    max-width: 45%;
    min-width: 35%;
    margin: auto;
}

.aboutMeItemOdd img {
    border-radius: 10px 0 0 10px;
}

.aboutMeItemEven img {
    border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 1200px) {

    .aboutMeItemOdd img,
    .aboutMeItemEven img  {
        border-radius: 10px;
    }
}
@media only screen and (max-width: 480px) {
    .aboutMeItemOdd img,
    .aboutMeItemEven img  {
        width: 75%;
        max-width: 75%;
        margin: auto;
        align-self: center;
        text-align: center;
    }

    .aboutMeItemEven img  {
        margin-top: 0px;
    }
    
    .aboutMeItemOdd img {
        margin-bottom: 0px;
    }
}

#aboutMeContent {
    margin: 28px;
    font-size: 20px;
    font-weight: 300;
}

#aboutMeTitle {
    font-size: x-large; 
    font-weight: 400;
}

#aboutMeContent p {
    margin-bottom: 8px;
}

#aboutMeCategoryTitle {
    font-size: x-large;
    text-align: center;
}