<div class="row">
    <table class="contact-info">
        <tr><td id="title">Contact info:</td></tr>
        <tr>
            <td>Personal e-mail:</td>
            <td id="personal-email"></td>
        </tr> 
        <tr>
            <td>Work e-mail:</td>
            <td id="work-email"></td>
        </tr> 
    </table>
    <table class="footer-links">
        <tr><td>
            <ul class="social-links"></ul>
        </td></tr>
        <tr><td>
            <ul class="footer-nav"></ul>
        </td></tr>
    </table>
</div>