<div class="card">
    <div class="row">
        <div class="text">
            <h4 class="portfolioItemTitle"></h4>
            <p class="portfolioItemDescription"></p>
        </div>
    </div>
    <div class="row">
        <button type="submit" style="border: 0; background: transparent" class="scrollButton" id="scrollLeft">
            <img src="src/res/styling/images/scroll-arrow-left.png" width="45" height="auto" alt="right" />
        </button>
        <ul id="portfolioImageList"></ul>
        <button type="submit" style="border: 0; background: transparent" class="scrollButton" id="scrollRight">
            <img src="src/res/styling/images/scroll-arrow-right.png" width="45" height="auto" alt="right" />
        </button>
    </div>
</div>