<div class="card">
    <div class="row portfolioItem">
        <div class="text">
            <h4 class="portfolioItemTitle">Mobile Movie Database (MMDB)</h4>
            <p class="portfolioItemDescription">This application was made as a hobby. 
                It is used for searching for movies by their genre, release date and 
                original language or a title keyword, also being able to search 
                the 4 different categories: popularity, vote average, upcoming and now playing. 
                The information is retrieved from The Movie Database (TMDb).</p>
        </div>
    </div>
    <div class="row">
        <button type="submit" style="border: 0; background: transparent" class="scrollButton" id="scrollLeft">
            <img src="src/res/styling/images/scroll-arrow-left.png" width="45" height="auto" alt="right" />
        </button>
        <ul id="portfolioImageList">
            <li><img src="src/res/styling/images/mmdb_main.jpg"></li>
            <li><img src="src/res/styling/images/side_menu.jpg"></li>
            <li><img src="src/res/styling/images/movie_details_overview.jpg"></li>
            <li><img src="src/res/styling/images/movie_details_media.jpg"></li>
            <li><img src="src/res/styling/images/movie_details_credits.jpg"></li>
        </ul>
        <button type="submit" style="border: 0; background: transparent" class="scrollButton" id="scrollRight">
            <img src="src/res/styling/images/scroll-arrow-right.png" width="45" height="auto" alt="right" />
        </button>
    </div>
</div>