<div class="card">
    <div class="row">
        <div class="text">
            <a class='portfolioItemTitle' target="_blank"></a>
            <p class="portfolioItemDescription"></p>
        </div>
        <a id="portfolioItemLink" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
    </div>
    <div class="row">
        <button type="submit" style="border: 0; background: transparent" class="scrollButton" id="scrollLeft">
            <img src="src/res/styling/images/scroll-arrow-left.png" width="45" height="auto" alt="right" />
        </button>
        <ul id="portfolioImageList"></ul>
        <button type="submit" style="border: 0; background: transparent" class="scrollButton" id="scrollRight">
            <img src="src/res/styling/images/scroll-arrow-right.png" width="45" height="auto" alt="right" />
        </button>
    </div>
</div>