<div class="card">
    <div class="row timelineListItem">
        <div class="text">
            <h4>Title</h4>
            <p>
                Some description telling about the achievement. This second sentence is to see how 
                the description looks, when the text is very very long and maybe even extends 
                the height of the image on the right. 
            </p>
        </div>
        <img src="src/res/styling/images/stock_image.jpg" alt="Timeline item image">
    </div>
</div>